<form action="/correspond/redirect" method="post">
    <div>
        <label>Screen Size:</label>
        <input id="screensize" type="text" name="screensize"/>
    </div>
    <div>
        <input id="screensizehidden" type="hidden" name="screensizehidden"/>
    </div>
    <div>
        <input id="redirect" type="submit" value="sign in"/>
    </div>
</form>

<script src="/3rdparty/jquery/jquery.2.1.1.min.js"></script>
<script src="/js/redirect.js"></script>

